# ignore compiled files
*.exe

# ignore test gen files
*judge-files

# ignore my recollections :D
*.writer-history

# temporarily ignores contests solutions
# these files always go to iluvgirlswithglasses/cpp after contest finished
contests/*/_sol

